@import './node_modules/bootstrap/scss/bootstrap';
@import './node_modules/owl.carousel/src/scss/owl.carousel';
@import './node_modules/owl.carousel/src/scss/owl.theme.default';

@import './node_modules/bootstrap/scss/variables';

@import './app/lnr';

#map {
    height: 400px;
}

.victim_mark {
    background: rgba(red, 0.2);
    padding: 2px;
}

.prey_mark {
    background: red;
    padding: 5px;
    border: 2px solid yellow;
    color: white;


    -webkit-animation-name: flickering; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: flickering;
    animation-duration: 1s;

    /* Safari 4.0 - 8.0 */
    @-webkit-keyframes flickering {
        from {border-color: red;}
        to {border-color: yellow;}
    }

    /* Standard syntax */
    @keyframes flickering {
        from {border-color: red;}
        to {border-color: yellow;}
    }
}