<!DOCTYPE html>
<html>
<head>
    <title>Reach &amp; Rescue Dashboard</title>
    
    <link rel="stylesheet" href="../dist/dashboard/dashboard.css">
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">

    <script src="../dist/js/core.min.js"></script>
    <script src="../dist/dashboard/dashboard.min.js"></script>

</head>
<body ng-app="dashboard">
    <section ng-controller="dashCtrl as dash" class="container-fluid">
        <div class="jumbotron">
            <h1>Reach &amp; Rescue Realtime</h1>

            <div class="row">
            <div class="col-8">
                <div map-lazy-load="https://maps.googleapis.com/maps/api/js?key=AIzaSyAR-b5_iExDljyQ_e5T-vwtvmVkaP2NR-k"">
                    <ng-map id="map" zoom="20" center="[3.0682165, 101.5676738]" zoom-to-include-markers="auto">
                        <custom-marker ng-repeat="p in dash.positions" position="{{ p.pos }}" title="coords: {{ p.pos }}">
                            <div class="victim_mark" ng-class="{{ p.class }}"><span class="lnr-warning"></span> Reported!</div>
                        </custom-marker>
                    </ng-map>
                </div>
            </div>
            <div class="col-4">
                <p class="m-0">Suspected Traficking Base</p>
                <small class="text-muted">Computerized Calculation. Please be aware!</small>
                <hr>

                <div class="alert alert-warning small">More reports required for the calculation to be valid.</div>

                

                <hr>
                <p>Location Log (<span ng-bind="dash.positions.length"></span> lodged)</p>
                <div style="max-height: 100px; overflow: auto;">
                    <div ng-repeat="d in dash.positions">
                        <kbd ng-bind="d.pos"></kbd>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>