@import './node_modules/bootstrap/scss/bootstrap.scss';
@import './node_modules/owl.carousel/src/scss/owl.carousel';
@import './node_modules/owl.carousel/src/scss/owl.theme.default';

.bg-theme { background-color: #660033; }
.color-theme { color: #660033; }
.color-white { color: #FFFFFF; }

.rounded {
    border-radius: 30px;
}

.app-body {
    background-color: RGBA(102, 0, 51, 0.1);

    .hero-selection {
        position: relative;

        .active.center {
            border: 5px solid #660033;

            &:after {
                position: absolute;
                bottom: -7px;
                content: "\e87f";
                font-family: "Linearicons-Free";
                color: green;
                font-size: 3rem;
                right: 0;
                padding: 5px;
            }
        }

    }

    .choose-username {
        width: 70%;
        margin: auto;
    }

    .footer-part {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .subtitle-hero {
        color: #5E1348;
    }
}

.dashboard-body {
    background: transparent;
}
