@import './node_modules/bootstrap/scss/bootstrap.scss';

.rounded {
    border-radius: 30px;
}

.app-body {
    .hero-selection {
        position: relative;

        .choose-hero-btn {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 10px;
        }
    }

    .choose-username {
        width: 70%;
        margin: auto;
    }
}

.dashboard-body {
    
}