<div class="modal fade" id="getting-started" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content py-3">
            <div class="text-center">
                <img src="/images/logo-96x96.svg" class="logo my-3" alt="" width="24%">
                <h5 class="header mx-1">Are you ready to rescure the world?</h5>
                <p class="text-muted small mx-3">
                    Villain is out there and it's our responsibility to fight them. Choose your companion and it's the time now!
                </p>

                <hr>

                <h5 class="subtitle-hero my-3">Step 1: Choose your HERO</h5>

                <div class="hero-selection owl-carousel owl-theme" slider current="start.current" options="{ items: 1.4, center: true, loop: true, padding: 100, startPosition: 1, dots: false }">
                    <div class="hero-card" ng-repeat="i in [1,2,3]">
                        <img ng-src="/images/heroes/hero-{{ i }}.gif" width="100%">
                    </div>
                </div>

                <div class="choose-username input-group my-4">
                    <input type="text" class="form-control text-center rounded" placeholder="Your name..." ng-model="start.username">
                </div>

                <div class="confirm-button">
                    <div class="btn btn-primary" ng-click="start.starting();">
                        Let's get started
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>