@import './app/lnr';
section.report {
    .map {
        position: relative;
    }
    .map-selector {
        .map { min-height: 300px; }
    }

    .crime-case {
        .disable-for-now {
            opacity: 0.7;
        }

        .active {
            border: 5px solid #660033;
            border-radius: 15px;
            position: relative;

            &:after {
                @extend .lnr;
                position: absolute;
                bottom: 1px;
                right: 0px;
                content: "\e87f";
                color: green;
                font-size: 1.5rem;
            }
        }
    }
}